<div class="calculator-container">
    <table>
        <tr>
            <td class="label">a:</td>
            <td>
                <input type="text" [(ngModel)]="a" [class.error]="!isNumber(a)">
            </td>
        </tr>
        <tr>
            <td class="label">b:</td>
            <td>
                <input type="text" [(ngModel)]="b" [class.error]="!isNumber(b)">
            </td>
        </tr>
        <tr>
            <td class="label">c:</td>
            <td>
                <input type="text" [(ngModel)]="c" [class.error]="!isNumber(c)">
            </td>
        </tr>
        <tr>
            <td class="label">Result:</td>
            <td class="result-cell">
                {{result}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="buttons">
                <button (click)="calculate('max')">MAX</button>
                <button (click)="calculate('min')">MIN</button>
                <button (click)="calculate('sin')">sin(a)</button>
                <button (click)="calculate('cos')">Cos(a)</button>
                <button (click)="calculate('pow')">a^b</button>
            </td>
        </tr>
    </table>
</div>