.calculator-container {
    width: 400px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 0;
}

.label {
    width: 1%;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
    padding: 5px 10px;
}

.result-cell {
    padding: 5px 10px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
    display: block;
}



.buttons {
    padding: 5px;
}

button {
    margin-right: 5px;
    padding: 2px 10px;
    border: 1px solid #999;
    background-color: #eee;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}