<h3 class="text-center text-white bg-dark p-3">Bitcoin Price Index</h3>
<div class="container mt-4">
    <div *ngIf="errMessage" class="alert alert-danger">{{errMessage}}</div>

    <div class="card" *ngIf="bitcoinData">
        <div class="card-header">
            {{bitcoinData.chartName}} - Updated: {{bitcoinData.time.updated}}
        </div>
        <div class="card-body">
            <p class="card-text">{{bitcoinData.disclaimer}}</p>

            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Currency</th>
                        <th>Code</th>
                        <th>Symbol</th>
                        <th>Rate</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let key of objectKeys(bitcoinData.bpi)">
                        <td>{{key}}</td>
                        <td>{{bitcoinData.bpi[key].code}}</td>
                        <td [innerHTML]="bitcoinData.bpi[key].symbol"></td>
                        <td>{{bitcoinData.bpi[key].rate}}</td>
                        <td>{{bitcoinData.bpi[key].description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>