<div *ngFor="let cate of categories" class="category-container">
    <table border="1" class="outer-table">
        <thead>
            <tr>
                <th>Ma Danh Muc</th>
                <th>Ten Danh Muc</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{cate.Cateid}}</td>
                <td>{{cate.CateName}}</td>
            </tr>
            <tr>
                <td colspan="2" class="nested-cell">
                    <table border="1" class="inner-table">
                        <thead>
                            <tr>
                                <th>Ma San Pham</th>
                                <th>Ten San Pham</th>
                                <th>Gia San Pham</th>
                                <th>Picture</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of cate.Products">
                                <td>{{p.ProductId}}</td>
                                <td>{{p.ProductName}}</td>
                                <td>{{p.Price}}</td>
                                <td><img [src]="p.Image" [alt]="p.ProductName"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>