.category-container {
    margin: 0 auto 20px auto;
    width: fit-content;
}

table {
    border-collapse: collapse;
}

.outer-table {
    width: 600px;
}

.inner-table {
    width: 100%;
    margin-top: 10px;
}

th,
td {
    padding: 5px;
    text-align: left;
}

td img {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.nested-cell {
    padding: 10px;
    background-color: #f9f9f9;
}