<p>Exercise 26 - Fake Stores Implementation</p>
<div *ngIf="errMessage" style="color: red;">Error: {{errMessage}}</div>

<div class="container">
    <div class="header">
        <h2>Fake Product Data</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th style="width: 50px;">Id</th>
                <th style="width: 200px;">title</th>
                <th style="width: 80px;">price</th>
                <th>description</th>
                <th style="width: 100px;">category</th>
                <th>image</th>
                <th style="width: 50px;">rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td>{{item.category}}</td>
                <td><img [src]="item.image" width="150"></td>
                <td>{{item.rating.rate}}</td>
            </tr>
        </tbody>
    </table>
</div>