<h2>Fashion Management (Ex53)</h2>
<p style="color:red">{{errMessage}}</p>
<table border="1" style="border-collapse: collapse; text-align: left; margin-bottom: 20px;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fashion Subject</th>
            <th>Fashion Detail</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fashion of fashions">
            <td>{{fashion._id}}</td>
            <td>{{fashion.fashion_subject}}</td>
            <td>{{fashion.fashion_detail}}</td>
            <td>
                <img *ngIf="fashion.fashion_image" [src]="fashion.fashion_image" width="100px" height="100px"
                    style="object-fit: cover;">
                <span *ngIf="!fashion.fashion_image">No Image</span>
            </td>
        </tr>
    </tbody>
</table>